* {
    margin: 0;
    padding: 0;
}

body button {
    box-sizing: border-box;
    position: absolute;
    left: calc(50% - 25px);
    top: 30px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 3px solid black;
    transition: .3s;
}

body div.square {
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    transition: 1s;
}

body button:hover {
    background-color: black;
    color: white;
}

body button:hover~div.square {
    position: absolute;
    top: calc(100% - 100px);
    left: calc(100% - 100px);
    width: 100px;
    height: 100px;
}