* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    min-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
nav, header {
    height: 360px;
}
nav {
    float: left;
    width: 300px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    line-height: 72px;
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-family: arial;
    padding: 0 5px 0 20px;
}

nav i {
    width: 50px;
    border-right: 2px solid black;
    margin-right: 20px;
    transition: 0.3s;
}

nav a:hover i {
    margin-right: 50px;
}
header {
    float: left;
    width: calc(100% - 300px);
    background-color: aquamarine;
    background-image: url("pianino.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 40px;
    margin-top: 50px;
    font-family: arial;
    background-color: #333;
    color:white;
    text-align: center;
    padding: 15px 0;
}