body {
    background-color: gray;
}

.bg p {
    position: absolute;
    top: 50%;
    left: 46%;
    display: none;
}

.redcircle {
    position: absolute;
    left: 3%;
    top: 3%;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100px;
    border: 2px solid white;
}

.redcircle:hover body{
    background-color: green;
}
body :nth-child(2) {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 100px;
    border: 2px solid white;
}
body :nth-child(3) {
    position: absolute;
    bottom: 3%;
    left: 3%;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100px;
    border: 2px solid white;
}
body :nth-child(4) {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 100px;
    border: 2px solid white;
}



