* {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: gray;
    width: 100vw;
    height: 100vh;
    transition: 1s;

}

.bg p {
    position: absolute;
    top: 50%;
    left: 40%;
    opacity: 0%;
    font-size: 40px;
    transition: 1s;
}

div.red {
    position: absolute;
    left: 3%;
    top: 3%;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100px;
    border: 2px solid white;
    cursor: pointer;
}

div.green {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 100px;
    border: 2px solid white;
}

div.blue {
    position: absolute;
    bottom: 3%;
    left: 3%;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100px;
    border: 2px solid white;
}

div.orange {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 100px;
    border: 2px solid white;
}

div.red:hover~.bg{
    background-color: red;
}
div.green:hover~.bg{
    background-color: green;
}
div.blue:hover~.bg{
    background-color: blue;
}
div.orange:hover~.bg{
    background-color: orange;
}


div.blue:hover~.bg p.blue,
div.orange:hover~.bg p.orange,
div.green:hover~.bg p.green,
div.red:hover~.bg p.red{
    opacity: 1;
}


