* {
    margin: 0;
    padding: 0;
}

.arrow {
    position: fixed;
    top: 85%;
    right: 5%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-width: 0;
    background-color: blue;
    overflow: hidden;
    cursor: pointer;
}

.arrow i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    font-size: 30px;
    color: white;
    animation: arrowMove 1.5s linear both infinite;
    text-shadow: 0 13px, 0 -13px;

}

@keyframes arrowMove{
    0%{
        top: 160%;
    }
    100% {
        top: -50%;
    }
}

