html {
    /* stół */
    --tableWidth: 700px;
    --tableHeight: 400px;
    --tableColor: #333;
    /* rakietka */
    --paddleWidth: 25px;
    --paddleHeight: 80px;
    --paddleColor: yellow;
    /* piłka */
    --ballSize: 20px;
    --ballColor: white;
    /* pozycja */
    --paddleFromEdge: 50px;
    /* czas animacji */
    --animationTime: 5s;
   }
 
   .table,
   .ball,
   .paddle,
   .result {
    position: absolute;
   }
 
   .table {
    width: var(--tableWidth);
    height: var(--tableHeight);
    background-color: var(--tableColor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
 
   .ball {
    width: var(--ballSize);
    height: var(--ballSize);

    /* top: calc(50% - var(--ballSize)/2); */
    /* left: calc(50% - var(--ballSize)/2); */
    background-color: var(--ballColor);
    border-radius: 50%;
 
    /* animation: ballMove var(--animationTime) linear both; */
    animation: ballMove var(--animationTime) linear both;
 
   }
 
   .paddle {
    width: var(--paddleWidth);
    height: var(--paddleHeight);
    background-color: var(--paddleColor);
   }
 
   /* rakietka lewa strona */
 
   .player {
    top: calc(50% - var(--paddleHeight)/2);
 
    left: var(--paddleFromEdge);
    /* utwórz animację ruchu dla paletki po lewej stronie */
    animation: playerPaddle var(--animationTime) linear both;
   }
 
   /* prawa strona */
 
   .ai {
    top: calc(50% - var(--paddleHeight)/2);
    right: var(--paddleFromEdge);
    /* utwórz animację ruchu dla paletki po prawej stronie */
    animation: aiPaddle var(--animationTime) linear both;
   }
 
   .result {
 
    width: 100%;
    left: 0;
    top: 10%;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    color: black;
    transform: scale(0);
    /* Utwórz animację, któa pokaże wynik po zakończeniu gry */
   }
 
 
   @keyframes ballMove {
        0%{
            top: 50%;
            left: 50%;
        }
        20%{
            top: 75%;
            left: 86%;
        }
        40%{
            top: 95%;
            left: 55%;
        }
        60%{
            top: 30%;
            left: 12%;
        }
        80%{
            top: 0;
            left: 60%;
        }
        100%{
            top: 14%;
            left: 100%;
        }
    }
 
 
   @keyframes playerPaddle {
    0%{
        top: calc(50% - var(--paddleHeight)/2);
        left: var(--paddleFromEdge);
    }
    20%{
        top: 80%;
    }
    40%{
        top: 50%;
    }
    60%{
       top: 20%;
    }
    80%{
        top: 0;
    }
    100%{
        top: 30%;
    }
   }
 
   @keyframes aiPaddle {
    0%{
        top: calc(50% - var(--paddleHeight)/2);
        right: var(--paddleFromEdge);
    }
    20%{
        top: 0;
    }
    40%{
        top: 30%;
    }
    60%{
       top: 70%;
    }
    80%{
        top: 40%;
    }
    100%{
        top: 15%;
    }
   }
   
 
   @keyframes showResult {
       100% {
        transform: scale(1);
       }

   }