* {
    margin: 0;
    padding: 0;
}

div {
    width: 200px;
    height: 200px;
    background-color: red;
    animation: move 3s 100 linear;
}

@keyframes move {
    50%{
        margin-left: calc(100% - 200px);
    }
   
}